BootShim/BootShim.bin
ImageResources/Leo/nbgen
ImageResources/Leo/yangbin

ImageResources/Leo/*.nbh
ImageResources/Leo/os.nb
ImageResources/Leo/LEOIMG.nbh
ImageResources/Leo/*.bin
ImageResources/Leo/*.img
ImageResources/Schubert/*.bin
workspace/Build/
