ImageResources/*/*.bin
ImageResources/*/*.elf
ImageResources/*/*.fd
ImageResources/*/*.img
ImageResources/*/*.nbh
ImageResources/*/*.o
ImageResources/*/os.nb
Tools/nbgen/nbgen
Tools/yang/yang
.vscode
workspace/Build/
